<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div class="row">
    <!--分页文字信息-->
    <div class="col-md-6">
        当前第$!{pageInfo.PageNum}页,总$!{pageInfo.Pages}页，总$!{pageInfo.Total}条记录
    </div>
    <div class="col-md-6">
        #foreach($page_Num in $pageSize)
        <li><a href="#$!{page_Num}">${page_Num}</a></li>
        #end
        #foreach($item in ${pageInfo.list})
            $!{item.title}
        #end

        #foreach($item in ${pageInfo.NavigatepageNums})
            $!{item}
        #end
        #set($num=2)
        第一页:$num
        #set($help=$num-1)
        上一页:$!{help}


    </div>
</div>

</body>
</html>